#Proceadores {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%
}

#Proceadores td,
#Proceadores th {
    border: 1px solid #ddd;
    padding: 8px
}

#Proceadores tr:nth-child(even) {
    background-color: #f2f2f2
}

#Proceadores tr:hover {
    background-color: #ddd
}

#Proceadores th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white
}